{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-useless-escape": "off",
    "object-shorthand": "off",
    "func-names": "off",
    "no-unused-vars": "off",
    "no-console":"off"
  }
}